@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Custom Scrollbar! */
    .scrollbar::-webkit-scrollbar {
      width: 8px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      /* background: #f7f4ed; */
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: rgb(165 180 252);
      border-radius: 100vh;
      /* border: 3px solid #f6f7ed; */
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #6F00FF;
    }
  }

.spacer {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  aspect-ratio: 960/150;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('../public/layered-waves-haikei-5.svg');
}

.layer2 {
  background-image: url('../public/layered-waves-haikei-4.svg');
}

.fade-left {
  --mask: linear-gradient(to left, 
  rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
  rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
) 100% 50% / 100% 100% repeat-x;


font: 2em/1.6em Arial;
-webkit-mask: var(--mask); 
mask: var(--mask);
}

.fade-right {
  --mask: linear-gradient(to right, 
  rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
  rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
) 100% 50% / 100% 100% repeat-x;


font: 2em/1.6em Arial;
-webkit-mask: var(--mask); 
mask: var(--mask);
}